.header-bg {
  background: #cc3d3d;
  width: 100%;
  justify-content: space-between;
}

.header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

.header-menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.header-menu a {
  color: #331f1e;
  padding: 5px 10px;
}

.header-menu a:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

